name: "Lint PR Title"

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  main:
    name: Validate PR Title
    runs-on: ubuntu-slim
    steps:
      - name: Semantic PR Title
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Enforce that the subject starts with a lowercase letter.
          subjectPattern: ^[a-z].*$
          subjectPatternError: |
            The subject "{subject}" must start with a lowercase letter.
